// Monokai Tooth Colors

// Default
$plain: #FDF4C1;

// Background  
$background: #282828;

// Caret
$caret: #528bff;

// Function params
$pink: #83A598;

// Class name Identifiers 
$cyan: #b8bb26;

// String
$lime: #528B8B;

// Keywords
$purple: #fb4934;

// Numbers, Constants
$brown: #D3869B;

// Markup attributes  
$gold: #fabd2f;

// Class name, Namespaces, Function names
$blue: #b8bb26;

// Comments  
$comment: #7C6F64;