// Monokai Tooth Colors

// Editor
$editor-background: #282828;
$editor-foreground: #FDF4C1;
$editor-selection-background: #1B5C6B;
$editor-line-highlight-background: #3C3836;
$editor-cursor-foreground: #FDF4C1;

// Activity Bar
$activity-bar-background: #21252B;
$activity-bar-foreground: #D7DAE0;
$activity-bar-badge-background: #528bff;
$activity-bar-badge-foreground: #F8FAFD;

// Sidebar
$sidebar-background: #21252b;
$sidebar-section-header-background: #282c34;

// Status Bar
$status-bar-background: #21252B;
$status-bar-foreground: #9da5b4;
$status-bar-item-hover-background: #2c313a;

// Tabs
$tab-active-background: #1B5C6B;
$tab-inactive-background: #21252B;

// Terminal
$terminal-blue: #61afef;
$terminal-bright-blue: #528bff;
$terminal-bright-cyan: #56b6c2;
$terminal-bright-green: #98c379;
$terminal-bright-magenta: #c678dd;
$terminal-bright-red: #fb4934;
$terminal-bright-yellow: #fabd2f;
$terminal-cyan: #56b6c2;
$terminal-green: #98c379;
$terminal-magenta: #c678dd;
$terminal-red: #FB4934;
$terminal-yellow: #d19a66;

// Title Bar
$title-bar-active-background: #282c34;
$title-bar-active-foreground: #9da5b4;

// Syntax Highlighting
$comment: #7B8A6D;
$string: #9AD074;
$number: #D08E8A;
$embedded: #CB77D4;
$keyword: #F44C3E;
$types: #CB77D4;
$class: #FC7D3E;
$inherited-class: #94C66D;
$function-name: #F5CE29;
$function-argument: #D08165;
$decorator: #DD8F15;
$decorator-punctuation: #F5CE29;
$package-import: #FC4232;
$tag-name: #DE6B74;
$tag-class-id: #FC7412;
$tag-attribute: #F8C22B;
$library-constant: #56B1B6;
$library-class-type: #56B1B6;
$invalid: #FDF4C1;
$invalid-deprecated: #FDF4C1;
$punctuation: #A9B1BC;
$markup-link: #5FAAE5;
$markup-heading: #DF6F78;
$markup-quote: #94C66D;
$markup-separator: #CB77D4;
$markup-raw: #56B1B6;
$markup-list: #ffffff;
